<footer class="bg-darker-light py-auto">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-4 offset-lg-1">
                <p class="fw-bold text-center my-3 py-auto">&copy; 2021 Goal Getter</p>
            </div>
            <div class="col-lg-2 col-md-4">
                <p class="fw-bold text-center my-3 py-auto">
                    <a href="/about-us" class="link-unstyled">About Us</a>
                </p>
            </div>
            <div class="col-lg-2 col-md-4">
                <p class="fw-bold text-center my-3 py-auto">
                    <a href="/Contact-Us" class="link-unstyled">Contact Us</a>
                </p>
            </div>
            <div class="col-lg-2 col-md-6">
                <p class="fw-bold text-center my-3 py-auto">
                    <a href="https://github.com/EastonShaum/Goal-Getter" class="link-unstyled">GitHub</a>
                </p>
            </div>
            <div class="col-lg-2 col-md-6">
                <p class="fw-bold text-center my-3 py-auto">
                    <a href="https://github.com/EastonShaum/Goal-Getter/wiki" class="link-unstyled">Support</a>
                </p>
            </div>
        </div>
    </div>
</footer>