<div class="d-flex justify-content-around">
    <p class="my-3 py-auto">
        <a href="/about-us" class="link-unstyled fs-6">About Us</a>
    </p>
    <p class="my-3 py-auto">
        <a href="/Contact-Us" class="link-unstyled">Contact</a>
    </p>
    <p class="my-3 py-auto">
        <a href="https://github.com/EastonShaum/Goal-Getter" class="link-unstyled">GitHub</a>
    </p>
    <p class="my-3 py-auto">
        <a href="https://github.com/EastonShaum/Goal-Getter/wiki" class="link-unstyled">Support</a>
    </p>
</div>