<h3 class="fw-bold text-secondary">Login</h3>
<form action="" id="login-form">
    <div class="mb-3">
        <label for="username" class="form-label text-secondary fw-bold">Username</label>
        <input type="text" name="username" id="username-input" class="form-control" placeholder="e.g. ID_10_T">
    </div>
    <div id="password-div" class="mb-4">
        <label for="password" class="form-label text-secondary fw-bold">Password</label>
        <input type="password" name="password" id="password-input" class="form-control" placeholder="**********">
    </div>
    <div class="d-flex justify-content-end mb-2">
        <button type="submit" class="btn btn-dark me-2 flex-grow-1" id="login-button">Login</button>
        <a href="/" type="button" class="link-unstyled mx-2 p-0 my-auto">Cancel</a>
    </div>
    <p class='text-primary fst-italic'>Don't have an account? <a href='/signup' class="link-unstyled text-dark" type="button">sign up!</a></p>
</form>
<script src="/assets/js/login.js"></script>